# Docker and Docker Compose based environment for Drupal.
# See https://github.com/blinkreaction/docker-fig-drupal for more information and documentation.

# Web node
web:
  build: .
  environment:
    - ENVIRONMENT=docker
    - VIRTUAL_HOST=explorer-test.docker
  ports:
    - "80"
  volumes:
    - ./src:/var/www/html
    - ./test:/var/www/test
cli:
  build: .
  environment:
    - ENVIRONMENT=docker
    - VIRTUAL_HOST=explorer-test.docker
  volumes:
    - ./src:/var/www/html
    - ./test:/var/www/test
  links:
    - browser
# selenium2 node
# Uncomment the service definition section below and the link in the web service above to start using selenium2 driver for Behat tests requiring JS support.
browser:
  hostname: browser
  image: selenium/standalone-chrome
  # Workaround for latest chrome running out of shared memory. See https://github.com/SeleniumHQ/docker-selenium/issues/79#issuecomment-135524498
  volumes:
    - /dev/shm:/dev/shm
  links:
    - web
  ports:
    - "4444"
